body {
  background-color: #77a7f4;
  text-align: center;
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
}


.cell {
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: #f8f8f8;
  margin-right: 4px;
  margin-top: 2px;
}

.active {
  background-color: #018c59;
}

.guess-true {
  background-color: #00CC00;
}

.guess-false {
  background-color: #CC0000;
}

.footer {
  margin: 25px;
}

.play-again-button {
  background-color: rgb(237, 210, 4);
  margin: 5px;
  border-radius: 5px;
}















